---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import { getLang } from "@/locales/getLang";

const lang = getLang();
const jobs = await getCollection("jobs");
---

<main class="grid lg:grid-cols-2 pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 order-2 p-6 rounded md:block bg-red-100">
    <h2 class="text-2xl mb-3">{lang.jobOpenings}</h2>

    <!-- <div class="flex items-center justify-between mb-2">
      <div>
        <a href="#" class="text-blue-500">Job title</a>
      </div>
      <div class="bg-gray-800 px-2 rounded mr-4">
        <h2 class="text-white">Company</h2>
      </div>
    </div> -->
    {
      jobs.map(({ slug, data }) => (
        <div class="flex items-center justify-between mb-2">
          <div>
            <a href={`/jobs/${slug}`} class="text-blue-500">
              {data.title}
            </a>
          </div>
          <div class="bg-gray-800 px-2 rounded mr-4">
            <h2 class="text-white">{data.company}</h2>
          </div>
        </div>
      ))
    }
  </div>
  <div class="mb-6 lg:md: 0">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Bun Deno Node
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {lang.mantra}
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/jobs"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
        {lang.seeBdnJobs}
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://t.me/@bunbao-project"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        {lang.joinTelegram}
      </Link>
    </div>
  </div>
</main>
